body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #2f6d87;
}

h2 {
    color: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #2f6d87;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #0f0f0f;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0px;
    background-color: #0f0f0f;
}

.bottom-container {
    background-color: #0f0f0f;
    position: relative;
    padding: 50px 0px 20px;
}

.img1 {
    height: 20%;
    width: 20%;
    border-radius: 50%;
}

p {
    line-height: 2;
}

.skillimg {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.skillimg2 {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    padding: 20px 0px;
    font-size: 0.75rem;
}

.BUTTON_WZU {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 40px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_WZU:hover {
    border: solid #337FED 1px;
    background: #30EC3B;
    background-image: -webkit-linear-gradient(top, #30EC3B, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30EC3B, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30EC3B, #2BC4AD);
    background-image: -o-linear-gradient(top, #30EC3B, #2BC4AD);
    background-image: linear-gradient(to bottom, #30EC3B, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}